

.generateQRCode_container {
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input,
button {
  width: 100%;
  border-radius: 10px;
  padding: 10px 15px;
}

input {
  outline: none;
  width: 100%;

}

button {
  background-color: #0f5daaff;
  color: white;
}

.QRCode {
    margin-top: 5vh;
    align-self: center;
    width: 50vw;
    height: 50vh;
}
