* {
  border-radius: 10px;
}

.readQRCode_container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  background-color: var(--accent-color);
  padding: 2vh 2vw;
  border: 1.5px solid var(--support-color);
  font-size: 16px;
  max-width: 400px;
  overflow-wrap: anywhere;
  overflow-y: auto;
  max-height: 200px;
  text-align: center;
  color: white;
}

p::-webkit-scrollbar {
  visibility: hidden;
}

p:hover {
  filter: brightness(1.7);
}

.placeholder {
  filter: brightness(1.5);
  color: var(--support-color);
}

@media (max-width: 780px) {


  p{
    align-self: center;
    width: 90vw;
  }
}
